venv/
.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/
env/
*.pyc
*.pyo
*.pyd
env/
.env

data/raw/*
data/processed/*
outputs/figuras/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/figuras/.gitkeep
